:root {
  --transition-time: 0.5s;
  --main-font: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  --second-font: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  --main-color: #017577;
  --second-color: #015455;
}
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  color: white;
}
body {
  padding: 0;
  margin: 0;
  font-family: var(--main-font);
  background: url("assets/background.jpg") center/cover no-repeat fixed;
  position: relative;
  min-height: 100vh;
}
/* Nav Bar */

.nav-bar {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: linear-gradient(to right, #172525, #1826268f);
  color: white;
  min-height: 4rem;
  padding: 0 1rem;
  position: fixed;
  z-index: 5;
}
.nav-bar ul {
  list-style: none;
  display: flex;
  justify-content: space-around;
  gap: 4rem;
}
.nav-bar ul li a {
  text-decoration: none;
  color: inherit;
}
.search-container {
  background-color: white;
  display: flex;
  justify-content: space-around;
  gap: 2rem;
  align-items: center;
  padding: 1rem;
  border-radius: 2rem;
  color: #017577;
  max-height: 3rem !important;
}
.search-container input::placeholder {
  color: var(--main-color);
}
.search-buttons-container button {
  width: 4rem;
  margin: 0 0.2rem;
}
.btn {
  background-color: var(--main-color);
  color: white;
  padding: 0.6rem;
  border: none;
  border-radius: 0.5rem;
  cursor: pointer;
  transition: var(--transition-time) ease-in-out;
}
.btn:hover {
  background-color: var(--second-color);
}
nav svg {
  width: 3rem;
  transform: rotate(-40deg);
}
.search-container input {
  color: #015455;
}
.search-container svg {
  width: 2rem;
}
.search-buttons-container {
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.search-buttons-container svg {
  transform: rotate(0deg);
}
.brand-container {
  display: flex;
  justify-content: start;
  align-items: center;
  gap: 1rem;
}
aside svg {
  fill: #ffffff;
}
aside ul li {
  cursor: pointer;
}
/* Home */
main {
  display: flex;
  margin: 0;
}
body::before {
  position: fixed;
  z-index: -1;
  content: "";
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(
    to right,
    #017577,
    transparent,
    transparent,
    transparent
  );
}

aside {
  padding: 2rem;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin-right: 3rem;
  height: 90vh;
  position: fixed;
  margin-top: 3rem;
}

aside ul {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  padding: 0;
  list-style: none;
  margin: 0;
}

aside ul li {
  width: 40px;
  height: 40px;
  text-align: center;
}
.vertical-line {
  border: 1px solid #ffffff;
  height: 15rem;
  background: #ffffff;
  margin: 0 auto;
  align-self: flex-start;
  margin-bottom: 8rem;
}
section {
  margin: 0 auto;
  padding: 10rem 0 0 0;
  justify-content: center;
  width: 50%;
}
section h1 {
  width: 40%;
  margin: 0 0 3rem 0;
  text-transform: uppercase;
  font-size: 4rem;
}
section > p {
  width: 70%;
  font-family: var(--second-font);
}
section button {
  margin: 4rem 0;
}
#main-section {
  margin: 0;
  margin-left: 8rem;
}

/* About Us */
.about-us {
  width: 70%;
  height: 8rem;
  background-color: #00313275;
  margin: 1rem 0;
  border-radius: 0.5rem;
  padding: 1rem;
  font-family: var(--second-font);
  margin-bottom: 3rem;
}

.our-team-container {
  display: flex;
  width: 70%;
  height: 8rem;
}
.our-team-container h2 {
  font-size: 4rem;
  margin-right: 2rem;
}
.our-team {
  display: flex;
  justify-content: space-around;
  align-items: center;
  gap: 4rem;
}
.team-member {
  padding: 2em;
  background-color: #00313275;
  width: 16rem;
  height: 10rem;
  display: flex;
  justify-content: center;
  align-items: start;
  gap: 1rem;
  padding-left: 0;
}
.team-member * {
  font-family: var(--second-font);
}
.team-member-info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: left;
  gap: 0.2rem;
}
.member-position {
  margin-top: 1rem;
  border: 0.5px white solid;
  border-radius: 0.5rem;
  text-align: center;
  background-color: #274385;
  width: 100%;
  padding: 4px;
}
.section-about {
  width: 100%;
}
.section-about svg {
  width: 3rem;
  fill: #274385;
}
.active {
  color: #89b7b8 !important;
}
.contact-us {
  margin: 0;
  width: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 2rem 0;
}
.contact-us-form-container {
  font-family: var(--second-font);
  background-color: #00000075;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 2rem;
  gap: 2rem;
  margin-left: 0 !important;
  width: 30rem;
  height: 90%;
}
.contact-us h1 {
  margin: auto;
}
.contact-us-form-container {
  margin: auto;
  margin-top: 5%;
}
.contact-us-form-container form * {
  width: 100%;
}
.contact-us-form-container form input,
.contact-us-form-container form textarea {
  background-color: transparent;
  color: white;
  border: 1px gray solid;
  margin: 1rem 0;
  padding: 0.7rem;
}
.contact-us-form-container form input::placeholder,
.contact-us-form-container form textarea::placeholder {
  color: gray;
  outline: none;
}
form {
  height: 100%;
  width: 100%;
  padding: 0;
}
form .btn {
  margin: 1rem 0 0 0;
}
#search-result {
  margin: 0;
}
/* search */
.card {
  background-color: white;
  width: 20rem;
  margin: auto;
  height: 20rem;
  position: relative;
  font-family: var(--second-font);
  border-radius: 0.5rem;
  padding-bottom: 2rem;
  margin-bottom: 2rem;
}
.card img {
  width: 100%;
  height: 50%;
  object-fit: cover;
  object-position: center;
}
.card p {
  color: var(--second-color);
}
.card h3 {
  color: var(--second-color);
}

.card-body {
  padding: 1rem;
  width: 100%;
  height: 100%;
  overflow: hidden;
}
.card button {
  margin: 1rem 0 0 0;
}
